<div class="container" style="margin-top: 109px;">
<p>contacto works!</p>
<p>contacto works!</p>
<p>contacto works!</p>
<form action="/my-handling-form-page" method="post">

      <label for="mail">Correo electrónico:</label>
<ul>
      <label for="name">Nombre:</label>
    <li>
      <input type="text" id="name" name="user_name">
    </li>
    <li>
      <input type="email" id="mail" name="user_mail">
    </li>
    <li>
      <label for="msg">Mensaje:</label>
      <textarea id="msg" name="user_message"></textarea>
    </li>
  </form>
   </ul>
</div>