<div class="container" style="margin-top: 150px; margin-bottom: 50px;">

  <div class="card mb-3">
    <img src="https://res.cloudinary.com/dnblt4j16/image/upload/v1616713509/quimicsa/BanerLoval_kscn69.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Quienes somos</h5>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <p class="card-text">Somos una empresa de generaciones, con mas de 40 años en el mercado de la industria quimica, contamos con amplia experiencia en venta, creacion y distribucion de productos a granel y productos terminados, nuestro amplio catalogo de mas de 500 productos estamos seguros que te sera util para tus necesidades.
      Día a día buscamos mejorar la vida de las familias mexicanas, ya sea facilitándoles las tareas de limpieza con nuestros productos o mediante nuestro MODELO DE NEGOCIO que les permite una independencia financiera.
Como empresa responsable nos preocupamos por la economía del hogar, es por ello que nuestro concepto de venta a granel permite a nuestras familias adquirir productos de limpieza de la más alta calidad a bajos precios, además que reutilizando envases se contribuye al cuidado del medio ambiente reduciendo considerablemente el uso de plásticos.
      </p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Que hacemos</h5>
      <p class="card-text">Elaboramos productos quimicos de la mas alta calidad, hemos trabajado en muchos proyectos con diferentes alianzas estrategicas para brindar seguridad y profesionalismo a traves de nuestros canales de distribucion a todo México.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
    <img src="https://res.cloudinary.com/dnblt4j16/image/upload/v1616713550/quimicsa/Brigadas-especificas-Comando-de-incidentes-con-sustancias-quimicas-peligrosas-02_e0kqn5.jpg" class="card-img-top" alt="...">
  </div>

</div>

