<div class="cuerpo">
    <div class="img-fondo">

        <div class="text-center">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalMision">
                ¿Quienes somos?
            </button>
        </div>
        
    </div>
</div>


    
  
      
      <!-- Mision -->
      <div class="modal fade" id="modalMision" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Acerca de Nosotros</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

                <div class="card" style="width: 100%">
                    <img class="card-img-top" src="https://res.cloudinary.com/dnblt4j16/image/upload/v1615948641/quimicsa/equipo_enecjl.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">¿Quienes somos?</h5>
                      <p class="card-text">
                        Somos una empresa de generaciones, con mas de 40 años en el mercado de la industria quimica, contamos con amplia experiencia en venta, creacion y distribucion de productos a granel y productos terminados, nuestro amplio catalogo de mas de 500 productos estamos seguros que te sera util para tus necesidades.
                            
                      </p>
                      <a href="#" class="btn btn-primary">Enlace</a>
                    </div>
                  </div>

                        
</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

