<div class="container mt-5" >

    <div id="accordion" style="margin-top: 100px; margin-bottom: 50px;">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Nuestros Valores
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Los valores que nos definen como esmpresa son:
              <ul>
                <li><b>Confianza:</b> Darla es recibirla. La confianza tiene que ver con la fe en la palabra empeñada y en los buenos deseos del otro, incluso cuando ello eventualmente signifique decepcionarse o enfrentar mayores autoexigencias.</li>
                <li><b>Trabajo en equipo:</b> En tiempos de individualismo extremo, la gestión común y el trabajo en equipo se convierten en un valor altamente demandado, que sirve para ejercer la tolerancia, el respeto y la consideración.</li>
                <li><b>Sinceridad:</b> La sinceridad empresarial tiene que ver con comunicaciones transparentes, rendiciones de cuentas y actitudes honradas frente al público en general y a la clientela asegurada.</li>
                <li><b>Sencillez:</b> Apostar por lo simple, por lo fácil, por los procesos más manejables y sencillos que se puedan tener sin sacrificar el cumplimiento de los objetivos empresariales.</li>
                <li><b>Calidad:</b> Es fácil y usual prometer calidad, pero comprometerse con ella significa insistir en los procesos hasta que el producto o servicio obtenido sea el mejor posible, es decir, no conformarse con menos.</li>
                <li><b>Responsabilidad:</b> Esto significa una mezcla de gratitud, lealtad y sinceridad, que en términos empresariales es sinónimo de compromiso social y comunitario no sólo con la clientela, sino con la sociedad.</li>
              </ul>

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Misión
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                La misión de una empresa es dar al cliente el mejor servicio y variedad, calidad y valor de productos.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Visión
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                La visión de nuestra empresa es servir mejor a nuestros clientes para ser siempre relevantes en sus vidas y formar relaciones duraderas.
            </div>
          </div>
        </div>
      </div>

</div>
