<div class="container" style="margin-top: 150px; margin-bottom: 50px;">

  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Nuestros Valores</h5>
      <p class="card-text"><small class="text-muted"></small></p>
        <div>
          Los valores que nos definen como esmpresa son:
          <ul>
            <li><b>Confianza:</b> Darla es recibirla. La confianza tiene que ver con la fe en la palabra empeñada y en los buenos deseos del otro, incluso cuando ello eventualmente signifique decepcionarse o enfrentar mayores autoexigencias.</li>
            <li><b>Trabajo en equipo:</b> En tiempos de individualismo extremo, la gestión común y el trabajo en equipo se convierten en un valor altamente demandado, que sirve para ejercer la tolerancia, el respeto y la consideración.</li>
            <li><b>Sinceridad:</b> La sinceridad empresarial tiene que ver con comunicaciones transparentes, rendiciones de cuentas y actitudes honradas frente al público en general y a la clientela asegurada.</li>
            <li><b>Sencillez:</b> Apostar por lo simple, por lo fácil, por los procesos más manejables y sencillos que se puedan tener sin sacrificar el cumplimiento de los objetivos empresariales.</li>
            <li><b>Calidad:</b> Es fácil y usual prometer calidad, pero comprometerse con ella significa insistir en los procesos hasta que el producto o servicio obtenido sea el mejor posible, es decir, no conformarse con menos.</li>
            <li><b>Responsabilidad:</b> Esto significa una mezcla de gratitud, lealtad y sinceridad, que en términos empresariales es sinónimo de compromiso social y comunitario no sólo con la clientela, sino con la sociedad.</li>
          </ul>

        </div>
      
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Nuestros Valores</h5>
      <p class="card-text"><small class="text-muted"></small></p>
        <div>
          Los valores que nos definen como esmpresa son:
          <ul>
            <li><b>Confianza:</b> Darla es recibirla. La confianza tiene que ver con la fe en la palabra empeñada y en los buenos deseos del otro, incluso cuando ello eventualmente signifique decepcionarse o enfrentar mayores autoexigencias.</li>
            <li><b>Trabajo en equipo:</b> En tiempos de individualismo extremo, la gestión común y el trabajo en equipo se convierten en un valor altamente demandado, que sirve para ejercer la tolerancia, el respeto y la consideración.</li>
            <li><b>Sinceridad:</b> La sinceridad empresarial tiene que ver con comunicaciones transparentes, rendiciones de cuentas y actitudes honradas frente al público en general y a la clientela asegurada.</li>
            <li><b>Sencillez:</b> Apostar por lo simple, por lo fácil, por los procesos más manejables y sencillos que se puedan tener sin sacrificar el cumplimiento de los objetivos empresariales.</li>
            <li><b>Calidad:</b> Es fácil y usual prometer calidad, pero comprometerse con ella significa insistir en los procesos hasta que el producto o servicio obtenido sea el mejor posible, es decir, no conformarse con menos.</li>
            <li><b>Responsabilidad:</b> Esto significa una mezcla de gratitud, lealtad y sinceridad, que en términos empresariales es sinónimo de compromiso social y comunitario no sólo con la clientela, sino con la sociedad.</li>
          </ul>

        </div>
      
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Nuestros Valores</h5>
      <p class="card-text"><small class="text-muted"></small></p>
        <div>
          Los valores que nos definen como esmpresa son:
          <ul>
            <li><b>Confianza:</b> Darla es recibirla. La confianza tiene que ver con la fe en la palabra empeñada y en los buenos deseos del otro, incluso cuando ello eventualmente signifique decepcionarse o enfrentar mayores autoexigencias.</li>
            <li><b>Trabajo en equipo:</b> En tiempos de individualismo extremo, la gestión común y el trabajo en equipo se convierten en un valor altamente demandado, que sirve para ejercer la tolerancia, el respeto y la consideración.</li>
            <li><b>Sinceridad:</b> La sinceridad empresarial tiene que ver con comunicaciones transparentes, rendiciones de cuentas y actitudes honradas frente al público en general y a la clientela asegurada.</li>
            <li><b>Sencillez:</b> Apostar por lo simple, por lo fácil, por los procesos más manejables y sencillos que se puedan tener sin sacrificar el cumplimiento de los objetivos empresariales.</li>
            <li><b>Calidad:</b> Es fácil y usual prometer calidad, pero comprometerse con ella significa insistir en los procesos hasta que el producto o servicio obtenido sea el mejor posible, es decir, no conformarse con menos.</li>
            <li><b>Responsabilidad:</b> Esto significa una mezcla de gratitud, lealtad y sinceridad, que en términos empresariales es sinónimo de compromiso social y comunitario no sólo con la clientela, sino con la sociedad.</li>
          </ul>

        </div>
      
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>

</div>

