

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">

  <div class="container">

  <a class="navbar-brand" routerLink="home">
    <img src="https://res.cloudinary.com/dnblt4j16/image/upload/v1615862043/quimicsa/Quimicsa_qjwisw.png" alt="" height="50px">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="link-3" routerLink="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="link-3" routerLink="nosotros">Nosotros</a>
      </li>
      <li class="nav-item dropdown">
        <a class="link-3 dropdown-toggle" routerLink="valores" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Valores
        </a>
        <div class="dropdown-menu estilo-drop" aria-labelledby="navbarDropdown" >
          <a class="dropdown-item" href="#">Misión</a>
          <a class="dropdown-item" href="#">Otro</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Visión</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="link-3 dropdown-toggle" routerLink="servicios" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Productos
        </a>
        <div class="dropdown-menu estilo-drop" aria-labelledby="navbarDropdown" >
          <a class="dropdown-item" href="#">Agua</a>
          <a class="dropdown-item" href="#">Hogar</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Lavandería</a>
          <a class="dropdown-item" href="#">Automotríz</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="link-3" routerLink="contacto">Contacto</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>

</div>

</nav>


